.request-graph {
    margin: 1px 0px;
    border: 1px solid #ccc;
    height: 30px;
}

.elevator {
    height: 30px;
    width: 90%;
    opacity: 0.7;
    position: absolute;
}

#results-graph {
    position: relative;
}